<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @item.task_name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @item.priority %>
</p>

<p>
  <strong>Board:</strong>
  <%= @item.board %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
